---
layout: home
---

<article id="main">

  <header class="special container">
    <span class="icon fa-cloud"></span>
    <h2>I did a thing in my free time.</h2>
  </header>

  <section class="wrapper style3 container special">

    <header class="major">
      <h2><strong>Blog Posts</strong></h2>
    </header>

    <div class="row">
      {% assign post = site.posts.first %}
      {% include mini-post.html %}
      <!-- <div class="6u 12u(narrower)">

        <section>
          <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
          <header>
            <h3>A Really Fast Train</h3>
          </header>
          <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
        </section>

      </div> -->
      <div class="6u 12u(narrower)">

        <section>
          <a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
          <header>
            <h3>An Airport Terminal</h3>
          </header>
          <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
        </section>

      </div>
    </div>
    <div class="row">
      <div class="6u 12u(narrower)">

        <section>
          <a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
          <header>
            <h3>Hyperspace Travel</h3>
          </header>
          <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
        </section>

      </div>
      <div class="6u 12u(narrower)">

        <section>
          <a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
          <header>
            <h3>And Another Train</h3>
          </header>
          <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
        </section>

      </div>
    </div>

    <footer class="major">
      <ul class="buttons">
        <li><a href="#" class="button">See More</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="button">Subscribe via RSS</a></li>
      </ul>
    </footer>

  </section>

</article>
<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>
